  .checkboxes-layout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 10px 0;
  }
  
  .right-checkboxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkboxes-row {
    display: flex;
    gap: 8px;
  }
  
  .nes-checkbox.is-dark + span::before {
    box-shadow: 0 0 0 2px #000000;
  }
  
  .nes-checkbox.is-dark:checked + span::before {
    color: #000000;
    background: transparent;
  }

  /* Ajoutez ceci dans votre fichier CSS global */
  .nes-checkbox.is-dark+span::before {
    color: black;
    box-shadow: 0 0 0 2px black;
}

  .nes-checkbox.is-dark:checked+span::before {
    color: black;
    text-shadow: 0 0 0 black;
}